#mein
{
 width: 100%;
    display: flex;
    
}

header{
    background-color: yellow;

    

}

body{
    background-color:rgba(26, 26, 56, 0.658);
    padding: 4rem;
    margin-left: 10%;
    width: 120%;
    height: 80%;
}